-i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
django==1.11.*
easy_thumbnails 
django-pagination 
django-suit 
django-mptt
django-environ
django-secure
django_extensions
django-reversion
django-imagekit
django-import-export
whitenoise
