{% extends "layout.html" %}
{% block content %}
{% load thumbnail %}
<div class="content clearfix">
	<div class="mod-slider clearfix"> 
		<a href="javascript:void(0)" class="slide-left-btn slide-btn"></a> 
		<a href="javascript:void(0)" class="slide-right-btn slide-btn"></a> 
		<div class="mod-slider-show pic"> 
			<div class="cnt" id="slider-show" style="left: 0px;"> 
				{% for pic in recommend %}
				{% cycle '<div class="slide-show-ctn" style="width:980px;">' '' '' '' '' %}
					<div class="mod-rep-img ready {% cycle 'img1' 'img1' 'img1' 'img2' 'img2' %}"> 
						<a href="{% url 'detail' pic.id %}" target="_blank" class="cover"> 
							<img class="img" src="{% cycle pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep2' pic.cover|thumbnail_url:'rep2' %}" />
							<span class="desc"> 
								<span class="cover-num">{{pic.count}}张</span> 
								<span class="title">{{pic.title}}</span> 
							</span> 
						</a> 
					</div> 
				{% cycle '' '' '' '' '</div>' %}
				{% endfor %}
			</div> 
		</div> 
	</div>

	<div class="mod-ad960">
		<span id="baidu-ad1"></span>
	</div>

	<div class="mod-common clearfix"> 
		<div class="mod-channel">
			<div class="channel-title"> 
				<h2>{{title}}</h2> 
				<div class="channel-right clearfix"> 
					<span id="sogou-ad1">
						{# 广告代码 #}
					</span> 
				</div> 
			</div> 
			<div class="channel-ctn"> 
				<div class="cnt channel-show"> 
					<div class="post-list clearfix" id="container" style="width:1000px;"> 
						{% for photo in photos %}
						<div class="list-box">
							<div class="preview">
								<a target="_blank" href="{% url 'detail' photo.id %}" title="{{ photos.title }}">
									<img src="/static/image/grey.gif" data-original="{{photo.cover.url}}" border="0" alt="{{ photo.title }}">
								</a>
								<div class="detail mt5">
									<h3><a href="{% url 'detail' photo.id %}" title="{{ photo.title }}" target="_blank">{{ photo.title }}</a></h3>
									<span class="postdate">{{ photo.pub_date|date:"Y-m-d H:i:s" }}</span>
								</div>
								<span class='num'>{{ photo.count }}张</span>
							</div>
							<div class="listline"></div>
							<div class="pdw10">
							<div class="tags">
								{% for tag in photo.tags.all %}
								{% if forloop.counter <= 3 %}
							  <a href='{% url 'tags' tag.title %}'>{{tag.title}}</a>
							  {% endif %}
							  {% endfor %}
							</div>
							</div>
							<div class="listline"></div>
							<div class="pdw10">
								<div class="fields">
									<span><i class="view icon"></i>{{ photo.views }}</span>
									<span><i class="like icon"></i>{{ photo.likes }}</span>
								</div>
							</div>
						</div>
						{% endfor %}
					</div> 
					
					<div id="loading">
						<a href="javascript:void(0)">正在加载...<span>&nbsp;&nbsp;&nbsp;&nbsp;</span></a> 
					</div> 

				</div> 
			</div> 
		</div> 
	</div> 
</div>

<script type="text/javascript"> 
$(document).ready(function() {
	$(window).scroll(loadData);
});
var counter = 2;
var freeID  = {{freeID}};
function loadData() {
	if (counter < 100) {
		if (isUserAtBottom()) {
			getData();
		}
	}
}
function isUserAtBottom() {
	return ((($(document).height() - $(window).height()) - $(window).scrollTop()) <= 50) ? true: false;
}
function getData() {
	$(window).unbind('scroll');
	$('#loading').show();
	$.get('/waterfall/'+freeID+'?page='+counter, {},
	function(response) {
		counter++;
		$('#loading').hide();
		$('#container').append(response);
		$(window).scroll(loadData);
	});
}
</script>
{% endblock %}
