{# {% load thumbnail %} #}
{% for pic in photos %}
<div class="list-box">
	<div class="preview">
		<a target='_blank' href='{% url 'detail' pic.id %}' title='{{pic.title}}'>
			<img src='{{pic.cover.url}}' height='' border='0' alt='{{pic.title}}'>
		</a>
		<div class="detail mt5">
			<h3>
				<a target="_blank" href="{% url 'detail' pic.id %}" title="{{pic.title}}">{{pic.title}}</a>
			</h3>
			<span class="postdate">{{ pic.pub_date|date:"Y-m-d" }}</span>
		</div>
		<span class='num'> {{ pic.count }}张 </span>
	</div>
	<div class="listline">
	</div>
	<div class="pdw10">
		<div class="tags">
		{% for t in pic.tags.all %}
		{% if forloop.counter <= 3 %}
		<a href='{% url 'tags' t.title %}'>{{t.title}}</a>
		{% endif %}
		{% endfor %}
		</div>
	</div>
	<div class="listline">
	</div>
	<div class="pdw10">
		<div class="fields">
			<span> <i class="view icon"> </i> {{ pic.views }} </span>
			<span> <i class="like icon"> </i> {{ pic.likes }} </span>
		</div>
	</div>
</div>
{% endfor %}