{% extends "layout.html" %}
{% load thumbnail %}
{% block content %}
<div class="content clearfix">

	<div class="mod-common clearfix">
		<div class="mod-channel">
			
			<div class="channel-title">
				<h2>{{category.name}}</h2>
				<div class="channel-right clearfix">
					<span id="sogou-ad1">
					  <script src="" type="text/javascript"></script>
					</span>
				</div>
			</div>

			<div class="channel-ctn">
				<div class="cnt channel-show">
					<div class="post-list clearfix" style="width:1000px;">
						
						{% for photo in photos %}
						<div class="list-box">
							<div class="preview">
								<a target="_blank" href="{% url 'detail' photo.id %}" title="{{ photos.title }}">
									<img src="/static/frontend/img/grey.gif" data-original="{% thumbnail photo.cover 318x439 %}" border="0" alt="{{ photo.title }}">
								</a>
								<div class="detail mt5">
									<h3><a href="{% url 'detail' photo.id %}" title="{{ photo.title }}" target="_blank">{{ photo.title }}</a></h3>
									<span class="postdate">{{ photo.pub_date|date:"Y-m-d H:i:s" }}</span>
								</div>
								<span class='num'>{{ photo.count }}张</span>
							</div>
							<div class="listline"></div>
							<div class="pdw10">
							<div class="tags">
								{% for tag in photo.tags.all %}
								{% if forloop.counter <= 3 %}
							  <a href='{% url 'tags' tag.title %}'>{{tag.title}}</a>
							  {% endif %}
							  {% endfor %}
							</div>
							</div>
							<div class="listline"></div>
							<div class="pdw10">
								<div class="fields">
									<span><i class="view icon"></i>{{ photo.views }}</span>
									<span><i class="like icon"></i>{{ photo.likes }}</span>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>

        <div class="pages">
          <ul>
            {% if photos.has_previous %}
            <li class="prev"><a href="?page={{ photos.previous_page_number }}"></a></li>
            {% else %}
            <li class="prev"><a href="#"></a></li>
            {% endif %}
            {% if photos.paginator.page_range %}
            {% for page in photos.paginator.page_range %}
            {% if forloop.counter <= photos.number|add:"5" and forloop.counter|add:"5" >= photos.number%}
            {% ifequal page photos.number %}
            <li class="pagecur"><a href="#">{{ page }}</a></li>
            {% else %}
            <li><a href='?page={{ page }}'>{{ page }}</a></li>
            {% endifequal %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if photos.has_next %}
            <li class="next"><a href='?page={{ photos.next_page_number }}'></a></li>
            {% else %}
            <li class="next"><a href="#"></a></li>
            {% endif %}
          </ul>
        </div>

			</div>
		</div>
	</div>
	<div class="mod-ad980"></div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"> 
$(document).ready(function() {$(window).scroll(loadData);});
var counter = 4;
var freeID = 22;
function loadData() {
    if (counter < 100) {
        if (isUserAtBottom()) {
            getData();
        }
    }
}
function isUserAtBottom() {
    return ((($(document).height() - $(window).height()) - $(window).scrollTop()) <= 50) ? true: false;
}
function getData() {
    $(window).unbind('scroll');
    $('#loading').show();
    $.get('/slide/'+freeID+'/'+counter, {},
    function(response) {
        counter++;
        $('#loading').hide();
        $('#container').append(response);
        $(window).scroll(loadData);
    });
}
</script>
{% endblock %}