{% extends "layout.html" %}
{% load thumbnail %}
{% block content %}
<div class="content clearfix">
	<div class="mod-slider clearfix"> 
		<a href="javascript:void(0)" class="slide-left-btn slide-btn"></a> 
		<a href="javascript:void(0)" class="slide-right-btn slide-btn"></a> 
		<div class="mod-slider-show pic"> 
			<div class="cnt" id="slider-show" style="left: 0px;"> 
				{% for pic in recommend %}
				{% cycle '<div class="slide-show-ctn" style="width:980px;">' '' '' '' '' %}
					<div class="mod-rep-img ready {% cycle 'img1' 'img1' 'img1' 'img2' 'img2' %}"> 
						<a href="{% url 'detail' pic.id %}" target="_blank" class="cover"> 
							<img class="img" src="{% cycle pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep' pic.cover|thumbnail_url:'rep2' pic.cover|thumbnail_url:'rep2' %}" />
							<span class="desc"> 
								<span class="cover-num">{{pic.count}}张</span> 
								<span class="title">{{pic.title}}</span> 
							</span> 
						</a> 
					</div> 
				{% cycle '' '' '' '' '</div>' %}
				{% endfor %}
			</div> 
		</div> 
	</div>

	<div class="mod-ad960">
		<span id="baidu-ad1"></span>
	</div>
	
	<div class="mod-common clearfix">
    <div class="mod-channel">
			{% include 'includes/aperture.html' %}
		</div> 
	</div>

	{% for cat in cat_list %}
	<div class="mod-common clearfix" id="{{cat.slug}}">
		<div class="mod-channel">
			<div class="channel-title">
				<h2>{{cat.subtitle}}</h2>
				<ul class="in-grid clearfix">
					<li class="cur">最新</li>
					<li>热门</li>
					<li>推荐</li>
				</ul>
				<div class="channel-right clearfix">
					<span id="sogou-ad1"></span>
				</div>
			</div>
			<div class="channel-ctn">
				 <div class="cnt channel-show">
					 <div class="post-list clearfix" style="width:1000px;">
							{% for pic in cat.photos %}
						 	<div class="list-box">
							 <div class="preview">
								 <a target="_blank" href="{% url 'detail' pic.id %}" title="{{pic.title}}">
								 	<img src="{{pic.cover.url}}" alt="{{pic.title}}" />
								 </a>
								 <div class="detail mt5">
									 <h3><a target="_blank" href="{% url 'detail' pic.id %}" title="{{pic.title}}">{{pic.title}}</a></h3>
									 <span class="postdate">{{ pic.pub_date|date:"Y-m-d H:i:s"}}</span>
								 </div>
								 <span class='num'>{{ pic.count }}张</span>
							 </div>
							 <div class="listline"></div>
							 <div class="pdw10">
								<div class="tags">
									{% for tag in pic.tags.all %}
									{% if forloop.counter <= 3 %}
								  <a href='{% url 'tags' tag.title %}'>{{tag.title}}</a>
								  {% endif %}
								  {% endfor %}
								</div>
							 </div>
							 <div class="listline"></div>
							 <div class="pdw10">
								 <div class="fields">
									 <span><i class="view icon"></i>{{pic.views}}</span>
									 <span><i class="like icon"></i>{{pic.likes}}</span>
								 </div>
							 </div>
						 	</div>
						 	{% endfor %}
					 	</div>
					 	<div class="veiwall"><a href="{% url 'category' cat.slug %}" target="_blank">查看更多 {{cat.subtitle}}<span class="icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></a></div>
				 </div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="mod-ad980"></div>
</div>
{% endblock %}